.elementor-element .icon .arabian-adventures-icon::after {
    content: "BX";
    font-size: 10px;
    opacity: 0.4;
    position: absolute;
    right: 5px;
    top: 5px;
}

.elementor-element .icon [class^="arabian-adventures-icon"]::after,
.elementor-element .icon [class*=" arabian-adventures-icon"]::after {
    content: "BX" !important;
}
