// waved.scss
@use 'waved' as *;
@use 'variables' as *;

// Waved Heading CSS
.waved-heading {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -.025em;
    @include waved;
}

// Subtitle
.subtitle {
    padding-bottom: .5rem;
    font-weight: bold;
    font-size: 18px;
    font-size: 16px;
}

// more button
.more-button {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        background: transparent;
        color: #27412B;
        border: 1.5px solid #27412B;
        padding: 10px 32px;
        border-radius: 32px;
        outline: 0;
        font-size: 19px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
            background: #ffb652;
            border-color: #ffb652;
            color: #fff;
        }

        @include respond-max($breakpoint-md) {
            width: 80%;
        }
        
        @include respond-max($breakpoint-sm) {
            width: 90%;
        }
    }
}

