// Import external files and variables
@use 'variables' as *;

body {
    /* Header Section */
    #header {
        @include respond-max($breakpoint-xl) {
            #navbarNav ul li a {
                padding: 6px 8px;
                font-size: 15px;
            }

            #menu-toggle {
                display: block;
                margin-left: auto;
            }
        }

        @include respond-max($breakpoint-lg) {
            #navbarNav ul li a {
                padding: 8px 14px;
                font-size: 16px;
            }
            
            /* Responsive Menu Toggle  */
            /* #header > #menu-toggle Effect Css */
            #menu-toggle {
                display: block;
                margin-left: auto;
                width: 50px;
                height: 50px;
                position: relative;
                cursor: pointer;
                background: transparent;
                border-radius: 5px;
            
                span {
                    display: block;
                    background: #ccc;
                    border-radius: 2px;
                    transition: 0.25s ease-in-out;
                    box-sizing: border-box;
                }

                &:hover {
                    background: transparent;
                }

                #hamburger {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    right: 0;

                    span {
                        width: 80%;
                        height: 3px;
                        position: relative;
                        top: 10%;
                        left: 10%;
                        margin: 8px 0;
                    }

                    span:nth-child(1) {
                        transition-delay: 0.5s;
                    }
                    span:nth-child(2) {
                        transition-delay: 0.625s;
                    }
                    span:nth-child(3) {
                        transition-delay: 0.75s;
                    }
                }
                
                #cross {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    right: 0;
                    transform: rotate(45deg);

                    span:nth-child(1) {
                        height: 0%;
                        width: 3px;
                        position: absolute;
                        top: 10%;
                        left: 46%;
                        transition-delay: 0s;
                    }
                    span:nth-child(2) {
                        width: 0%;
                        height: 3px;
                        position: absolute;
                        left: 10%;
                        top: 48%;
                        transition-delay: 0.25s;
                    }
                }
            
                &[aria-expanded="true"] {
                    #hamburger span {
                        width: 0%;

                        span:nth-child(1) {
                            transition-delay: 0s;
                        }
                        span:nth-child(2) {
                            transition-delay: 0.125s;
                        }
                        span:nth-child(3) {
                            transition-delay: 0.25s;
                        }
                    }

                    #cross {
                        span:nth-child(1) {
                            height: 80%;
                            transition-delay: 0.625s;
                        }
                        span:nth-child(2) {
                            width: 80%;
                            transition-delay: 0.375s;
                        }
                    }
                }
            }
        }
    }

    /* Adventures Area */
    #adventures .single-adventure .adventure-img {
        @include respond-max(399px) {
            width: 150px;
            height: 150px;
        }

        @include respond-max(349px) {
            width: 130px;
            height: 130px;
        }

        @include respond-max(299px) {
            width: 110px;
            height: 110px;
        }
    }

    /* Top Tours Area */
    .top-tours .tour .thumbnail img {
        @include respond-max($breakpoint-lg) {
            height: 170px;
        }

        @include respond-max($breakpoint-md) {
            height: 160px;
        }

        @include respond-max($breakpoint-sm) {
            height: 120px;
        }
    }

    /* Images Gallery Section */
    .gallery {

        .grid .effect-overlay p {
            @include respond-max($breakpoint-lg) {
                display: none;
            }
        }
    }

    /* Celebrity Visits Area */
    .celebrity-visits-info {
        .famous-card .famous-info {
            @include respond-max($breakpoint-xl) {
                padding: 15px;
                height: 55px;
            }

            @include respond-max($breakpoint-sm) {
                padding: 8px;
                height: 40px;
            }
            
            @include respond-max(405px) {
                height: 55px;
            }
            
            @include respond-max(360px) {
                height: 45px;
            }
        }

        .famous-card .famous-info .famous-name {
            @include respond-max($breakpoint-xl) {
                font-size: 22px;
            }

            @include respond-max(405px) {
                font-size: 19px;
            }

            @include respond-max(360px) {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }

    /* Footer Section */
    #footer {
        .payment-channels ul {
            @include respond-between($breakpoint-md, 1024px) {
                    width: 100%;
            }
            
            @include respond-between($breakpoint-sm, $breakpoint-md) {
                width: 50%;
            }
        }
    }



    /** 
     * page.html Page Responsive Styles 
    */
    /* media container Section */

    .page-title-header,
    .media-container,
    .product-promo,
    .booking-assistant {
        // background: slategrey;
    }
    // background: red;


    /* Page Title Header Section */
    .page-title-header {

        @include respond-max($breakpoint-lg) {
            .page-title_wrapper .page-title {
                font-size: 32px;
            }

            .page-title-category {
                font-size: 14px;
            }
        }
    }

    /* Media Container Section */
    .media-container {
        // grid-template-columns: repeat(4, 1fr); del This
        // grid-template-rows: repeat(4, 1fr); del This
        @include respond-max($breakpoint-sm) {
            .media-items-wrapper {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);

                .media-item {
                    &:nth-child(1) {
                        grid-column: span 4 / span 4;
                        grid-row: span 4 / span 4;

                        img {
                            height: 180px;
                            border-radius: 1rem;
                        }
                    }

                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5) {
                        display: none;
                    }
                }
                
                
            }
        }
    }

    /* Product Promo Section */
    .product-promo {
        
        .promo-prices-notification {
            @include respond-max($breakpoint-xl) {
            }
        }

        .promo-prices  {
            @include respond-max($breakpoint-md) {
                justify-content: center;

                .activity-price {
                    margin-left: 0;
                }
            }
        }

        .promo-label {
            @include respond-max($breakpoint-sm) {
                padding: 10px;
            }
        }

        .promo-prices-notification {
            @include respond-max($breakpoint-md) {
                text-align: center;
            }
        }

        .promo-actions button {
            @include respond-max($breakpoint-xl) {
                max-width: 100%;
                padding: 10px 24px;
            }

            @include respond-max($breakpoint-xl) {
                margin: 0 auto;
            }
        }
    }

    /* Booking Assistant Area */
    .booking-assistant {
        
        .SidebarWrapper .bookingItineraryCard {
            @include respond-max($breakpoint-xl) {
                max-width: 405px;
                margin-left: auto;
            }

            @include respond-max($breakpoint-md) {
                margin: 0 auto;
            }
        }
    }

}
