// Import external files and variables
@use 'variables' as *;
@use 'header' as *;
@use 'footer' as *;

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html body {
    font-family: "Trip Sans VF","Trip Sans","Trip Sans Mono",Arial,sans-serif;
}

.elementor-element {
    --display: unset !important;
    padding: 0 !important;
}

@include header;
@include footer;
