.waved-heading {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: -0.025em;
}
.waved-heading .waved {
  padding-left: 3px;
  color: #ffffff;
}
.waved-heading .waved > span {
  position: relative;
  display: inline-block;
}
.waved-heading .waved > span > span {
  position: relative;
  z-index: 2;
}
.waved-heading .waved > span::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150%;
  height: 100%;
  border-radius: 50%;
  translate: -50% -50%;
  transform: skew(-20deg);
  background: #ed2939;
}

.subtitle {
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 18px;
  font-size: 16px;
}

/* Slider Area Css */
#slider {
  position: relative;
}
#slider .background-image {
  overflow: hidden;
}
#slider .background-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 0.25;
}
#slider .background-image img {
  width: 100%;
  min-height: 330px;
  max-height: 330px;
  object-fit: cover;
  transform: scale(1.07);
}
#slider .banner .banner_content {
  width: 100%;
  font-family: emirates;
  position: absolute;
  top: 0;
  left: 0;
  color: #faf8f8;
  padding: 120px 0;
  z-index: 1;
}
#slider .banner .banner_content .waved-heading > span:not(.waved) {
  color: #faf8f8;
}

/* Adventures Area Css */
#adventures {
  background: #faf8f8;
}
#adventures .waved-heading > span:not(.waved) {
  color: #928259;
}
#adventures .single-adventure {
  position: relative;
}
#adventures .single-adventure .adventure-img {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: rgba(26, 33, 61, 0.5019607843);
  transition: all 0.4s ease-out 0s;
  z-index: 0;
  overflow: hidden;
}
#adventures .single-adventure .adventure-img::before {
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out 0s;
  position: absolute;
  bottom: 0;
  background: rgba(26, 33, 61, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
#adventures .single-adventure .adventure-img::after {
  content: "";
  position: absolute;
  width: 92%;
  height: 91%;
  border: 2px dotted #faf8f8;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.4s ease-out 0s;
  animation: rotateme 30s linear infinite;
  z-index: 1;
  visibility: hidden;
}
#adventures .single-adventure .adventure-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.4s ease-out 0s;
}
#adventures .single-adventure .adventure-img .adventure-details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  transition: all 0.4s ease-out 0s;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
}
#adventures .single-adventure .adventure-img .adventure-details h4 a {
  display: inline-block;
  color: #faf8f8;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.1px;
  text-decoration: none;
}
#adventures .single-adventure .adventure-img .adventure-details h4 a svg {
  width: 14px;
  height: 14px;
  fill: #faf8f8;
  margin-left: 5px;
}
#adventures .single-adventure h3 a {
  display: block;
  padding-top: 16px;
  font-size: 22px;
  font-weight: 600;
  color: #1A213D;
  text-decoration: none;
}
#adventures .single-adventure:hover .adventure-img::before,
#adventures .single-adventure:hover .adventure-img::after,
#adventures .single-adventure:hover .adventure-details {
  opacity: 1;
  visibility: visible;
}
#adventures .single-adventure:hover .adventure-img {
  box-shadow: 0 10px 20px rgba(26, 33, 61, 0.12);
}
#adventures .single-adventure:hover .adventure-img img {
  transform: scale(1.05);
}

@keyframes rotateme {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Top Tours Area Css */
.waved-heading > span:not(.waved) {
  color: #928259;
}

.top-tours .tour {
  height: 100%;
  border: 1px solid #eee;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 7px;
  margin-bottom: 16px;
  transition: all 0.3s ease;
}
.top-tours .tour a {
  text-decoration: none;
}
.top-tours .tour .thumbnail {
  position: relative;
}
.top-tours .tour .thumbnail img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.top-tours .tour .thumbnail .category {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
  width: 100%;
  color: #FFFFFF;
  font-size: 12px;
  padding: 4px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.top-tours .tour .details {
  margin: 2px 0;
  padding: 0 16px 10px;
  color: rgb(102, 102, 102);
}
.top-tours .tour .details .label {
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.top-tours .tour .details .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  margin: 0;
}
.top-tours .tour .details .title strong {
  color: rgb(68, 68, 68);
  font-size: inherit;
  font-weight: inherit;
}
.top-tours .tour .details .tour-info {
  margin-top: 4px;
}
.top-tours .tour .details .tour-info .duration {
  font-size: 13px;
  font-weight: bold;
}
.top-tours .tour .details .tour-info .duration svg {
  height: 15px;
  margin-right: 1px;
  margin-bottom: 2px;
}
.top-tours .tour .details .tour-info .tagging-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 4px;
}
.top-tours .tour .details .tour-info .tagging-wrap .tagging {
  background-color: #f0f0f0;
  color: #666;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  border: none;
  box-shadow: none;
}
.top-tours .tour .details .price {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 600;
}
.top-tours .tour .details .price .old-price {
  margin-right: 5px;
}
.top-tours .tour .details .price .old-price .label {
  font-size: 14px;
}
.top-tours .tour .details .price .old-price .price {
  text-decoration: line-through;
  font-size: 14px;
}
.top-tours .tour .details .price .activity-price .price {
  font-size: 18px;
  color: #C81E3A;
  color: #333;
  font-weight: bold;
}
.top-tours .tour .details .price .activity-price .caption {
  font-size: 12px;
}
.top-tours .tour .details .tagging-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 4px 0;
}
.top-tours .tour .details .tagging-wrap .tagging {
  padding: 1px;
  font-size: 14px;
  line-height: 18px;
  height: 20px;
  font-weight: 400;
  border-radius: 2px;
  color: #f44622;
  box-shadow: inset 0 0 0 1px rgba(244, 70, 34, 0.4);
}
.top-tours .tour .details .tagging-wrap .tagging .tag-content {
  padding: 0 4px;
}
.top-tours .tour .details .tagging-wrap .tagging .vertical-promo-tag {
  padding-right: 4px;
  padding-left: 1.42em;
  background-color: rgba(244, 70, 34, 0.2);
  margin-left: -3px;
  float: right;
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: radial-gradient(circle at 0.9em center, #fff 0.22em, transparent 0), linear-gradient(125deg, #fff 0.68em, transparent 0), linear-gradient(55deg, #fff 0.68em, transparent 0);
}
.top-tours .tour .details .tagging-wrap .tagging .vertical-promo-tag .svg-percent {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-left: 1px;
  margin-top: -2px;
}
.top-tours .tour:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=home.css.map */
