.waved-heading {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: -0.025em;
}
.waved-heading .waved {
  padding-left: 3px;
  color: #ffffff;
}
.waved-heading .waved > span {
  position: relative;
  display: inline-block;
}
.waved-heading .waved > span > span {
  position: relative;
  z-index: 2;
}
.waved-heading .waved > span::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150%;
  height: 100%;
  border-radius: 50%;
  translate: -50% -50%;
  transform: skew(-20deg);
  background: #ed2939;
}

.subtitle {
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 18px;
  font-size: 16px;
}

/* Slider Area Css */
#slider {
  position: relative;
}
#slider .background-image {
  overflow: hidden;
}
#slider .background-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 0.25;
}
#slider .background-image img {
  width: 100%;
  min-height: 330px;
  max-height: 330px;
  object-fit: cover;
  transform: scale(1.07);
}
#slider .banner .banner_content {
  width: 100%;
  font-family: emirates;
  position: absolute;
  top: 0;
  left: 0;
  color: #f7f7f7;
  padding: 120px 0;
  z-index: 1;
}
#slider .banner .banner_content .waved-heading > span:not(.waved) {
  color: #f7f7f7;
}

/* Adventures Area Css */
#adventures {
  background: #f7f7f7;
}
#adventures .waved-heading > span:not(.waved) {
  color: #928259;
}
#adventures .single-adventure {
  position: relative;
}
#adventures .single-adventure .adventure-img {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: rgba(26, 33, 61, 0.5019607843);
  transition: all 0.4s ease-out 0s;
  z-index: 0;
  overflow: hidden;
}
#adventures .single-adventure .adventure-img::before {
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out 0s;
  position: absolute;
  bottom: 0;
  background: rgba(26, 33, 61, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
#adventures .single-adventure .adventure-img::after {
  content: "";
  position: absolute;
  width: 92%;
  height: 91%;
  border: 2px dotted #f7f7f7;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.4s ease-out 0s;
  animation: rotateme 30s linear infinite;
  z-index: 1;
  visibility: hidden;
}
#adventures .single-adventure .adventure-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.4s ease-out 0s;
}
#adventures .single-adventure .adventure-img .adventure-details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  transition: all 0.4s ease-out 0s;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
}
#adventures .single-adventure .adventure-img .adventure-details h4 a {
  display: inline-block;
  color: #f7f7f7;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.1px;
  text-decoration: none;
}
#adventures .single-adventure .adventure-img .adventure-details h4 a svg {
  width: 14px;
  height: 14px;
  fill: #f7f7f7;
  margin-left: 5px;
}
#adventures .single-adventure h3 a {
  display: block;
  padding-top: 16px;
  font-size: 22px;
  font-weight: 600;
  color: #1A213D;
  text-decoration: none;
}
#adventures .single-adventure:hover .adventure-img::before,
#adventures .single-adventure:hover .adventure-img::after,
#adventures .single-adventure:hover .adventure-details {
  opacity: 1;
  visibility: visible;
}
#adventures .single-adventure:hover .adventure-img {
  box-shadow: 0 10px 20px rgba(26, 33, 61, 0.12);
}
#adventures .single-adventure:hover .adventure-img img {
  transform: scale(1.05);
}

@keyframes rotateme {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Top Tours Area Css */
.waved-heading > span:not(.waved) {
  color: #928259;
}

.top-tours .tour {
  height: 100%;
  border: 1px solid #eee;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 7px;
  margin-bottom: 16px;
  transition: all 0.3s ease;
}
.top-tours .tour a {
  text-decoration: none;
}
.top-tours .tour .thumbnail {
  position: relative;
}
.top-tours .tour .thumbnail img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.top-tours .tour .thumbnail .category {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
  width: 100%;
  color: #FFFFFF;
  font-size: 12px;
  padding: 4px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.top-tours .tour .details {
  margin: 2px 0;
  padding: 0 16px 10px;
  color: rgb(102, 102, 102);
}
.top-tours .tour .details .label {
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.top-tours .tour .details .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  margin: 0;
}
.top-tours .tour .details .title strong {
  color: rgb(68, 68, 68);
  font-size: inherit;
  font-weight: inherit;
}
.top-tours .tour .details .tour-info {
  margin-top: 4px;
}
.top-tours .tour .details .tour-info .duration {
  font-size: 13px;
  font-weight: bold;
}
.top-tours .tour .details .tour-info .duration svg {
  height: 15px;
  margin-right: 1px;
  margin-bottom: 2px;
}
.top-tours .tour .details .tour-info .tagging-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 4px;
}
.top-tours .tour .details .tour-info .tagging-wrap .tagging {
  background-color: #f0f0f0;
  color: #666;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  border: none;
  box-shadow: none;
}
.top-tours .tour .details .price {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 600;
}
.top-tours .tour .details .price .old-price {
  margin-right: 5px;
}
.top-tours .tour .details .price .old-price .label {
  font-size: 14px;
}
.top-tours .tour .details .price .old-price .price {
  text-decoration: line-through;
  font-size: 14px;
}
.top-tours .tour .details .price .activity-price .price {
  font-size: 18px;
  color: #C81E3A;
  color: #333;
  font-weight: bold;
}
.top-tours .tour .details .price .activity-price .caption {
  font-size: 12px;
}
.top-tours .tour .details .tagging-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 4px 0;
}
.top-tours .tour .details .tagging-wrap .tagging {
  padding: 1px;
  font-size: 14px;
  line-height: 18px;
  height: 20px;
  font-weight: 400;
  border-radius: 2px;
  color: #f44622;
  box-shadow: inset 0 0 0 1px rgba(244, 70, 34, 0.4);
}
.top-tours .tour .details .tagging-wrap .tagging .tag-content {
  padding: 0 4px;
}
.top-tours .tour .details .tagging-wrap .tagging .vertical-promo-tag {
  padding-right: 4px;
  padding-left: 1.42em;
  background-color: rgba(244, 70, 34, 0.2);
  margin-left: -3px;
  float: right;
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: radial-gradient(circle at 0.9em center, #fff 0.22em, transparent 0), linear-gradient(125deg, #fff 0.68em, transparent 0), linear-gradient(55deg, #fff 0.68em, transparent 0);
}
.top-tours .tour .details .tagging-wrap .tagging .vertical-promo-tag .svg-percent {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-left: 1px;
  margin-top: -2px;
}
.top-tours .tour:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery {
  margin-bottom: 24px;
}
.gallery .grid .effect-overlay {
  position: relative;
  float: left;
  overflow: hidden;
  max-width: 572px;
  max-height: 360px;
  width: 100%;
  height: auto;
  background: #000;
  text-align: center;
  cursor: pointer;
  margin: 0;
}
.gallery .grid .effect-overlay:hover img {
  opacity: 0.4;
  transform: scale3d(1.1, 1.1, 1);
}
.gallery .grid .effect-overlay:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.gallery .grid .effect-overlay .gallery-img img {
  position: relative;
  display: block;
  min-height: 100%;
  width: 100%;
  opacity: 0.8;
  max-width: none;
  height: auto;
  transition: opacity 1s, transform 1s;
  backface-visibility: hidden;
}
.gallery .grid figure figcaption {
  position: absolute;
  top: 196px;
  left: 0;
  width: 100%;
  text-align: center;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  backface-visibility: hidden;
}
.gallery .grid figure figcaption > a {
  position: absolute;
  top: 221px;
  left: 0;
  width: 100%;
  text-align: center;
}
.gallery .grid figure figcaption p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 68.5%;
  letter-spacing: 1px;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-360px, 0, 0);
}

.celebrity-visits-info {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #f7f7f7;
}
.celebrity-visits-info .famous-card {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}
.celebrity-visits-info .famous-card img {
  transform-style: unset;
  width: 100%;
  height: 183px;
  object-fit: cover;
  object-position: center;
}
.celebrity-visits-info .famous-card .famous-overlay {
  position: absolute;
  background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, rgba(27, 27, 27, 0.25) 84.91%, rgba(27, 27, 27, 0.75) 100%);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.celebrity-visits-info .famous-card .famous-info {
  position: absolute;
  padding: 20px;
  bottom: 0px;
  left: 0px;
  height: 65px;
  transition: all ease 0.5s;
}
.celebrity-visits-info .famous-card .famous-info .famous-name {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}
.celebrity-visits-info .famous-card .famous-info .famous-text {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 17px;
}
.celebrity-visits-info .famous-card:hover .famous-info {
  height: 100%;
  content: " ";
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  background-color: rgba(39, 65, 43, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.celebrity-visits-info .owl-carousel {
  position: relative;
}
.celebrity-visits-info .owl-carousel .owl-nav {
  top: 100%;
  position: absolute;
  width: 200px;
  margin-top: 0;
  transform: translate3d(0, -50%, 0);
  left: calc(50% - 100px);
}
.celebrity-visits-info .owl-carousel .owl-nav button.owl-prev,
.celebrity-visits-info .owl-carousel .owl-nav button.owl-next {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  outline: 0;
  margin: 0;
  transform: translate3d(0, -50%, 0);
}
.celebrity-visits-info .owl-carousel .owl-nav button.owl-prev {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M14 6L8 12L14 18" stroke="%2327412B" stroke-width="2"/%3E%3C/svg%3E') !important;
  left: 0;
}
.celebrity-visits-info .owl-carousel .owl-nav button.owl-next {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M10 6L16 12L10 18" stroke="%2327412B" stroke-width="2"/%3E%3C/svg%3E') !important;
  right: 0;
}
.celebrity-visits-info .owl-carousel .owl-nav .owl-next,
.celebrity-visits-info .owl-carousel .owl-nav .owl-prev {
  width: 40px !important;
  height: 40px !important;
  background: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 12px;
}
.celebrity-visits-info .owl-carousel:not(.nav-arrows-1):not(.show-nav-title) .owl-nav button[class*=owl-] {
  background-color: #27412B;
  border-color: #27412B #27412B #006699;
  color: #FFF;
}
.celebrity-visits-info .owl-carousel .owl-dots {
  position: relative;
  top: 11px;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}
.celebrity-visits-info .owl-carousel .owl-dots button.owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  width: 24px;
  height: 4px;
  margin: 0px 3px;
}
.celebrity-visits-info .owl-carousel .owl-dots button.owl-dot.active span, .celebrity-visits-info .owl-carousel .owl-dots button.owl-dot:hover span {
  background-color: #27412B;
}
.celebrity-visits-info .famous-btn {
  display: flex;
  width: 270px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #27412B;
  margin: 0 auto;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 32px;
  border: 1.5px solid #27412B;
  margin-top: 40px;
  outline: 0;
  text-decoration: none;
}
/*# sourceMappingURL=home.css.map */
