body {
  /* Header Section */
  /* Adventures Area */
  /* Top Tours Area */
  /* Images Gallery Section */
  /* Celebrity Visits Area */
  /* Footer Section */
  /** 
   * page.html Page Responsive Styles 
  */
  /* media container Section */
  /* Page Title Header Section */
  /* Media Container Section */
  /* Product Promo Section */
  /* Booking Assistant Area */
}
@media (max-width: 1199px) {
  body #header #navbarNav ul li a {
    padding: 6px 8px;
    font-size: 15px;
  }
  body #header #menu-toggle {
    display: block;
    margin-left: auto;
  }
}
@media (max-width: 991px) {
  body #header {
    /* Responsive Menu Toggle  */
    /* #header > #menu-toggle Effect Css */
  }
  body #header #navbarNav ul li a {
    padding: 8px 14px;
    font-size: 16px;
  }
  body #header #menu-toggle {
    display: block;
    margin-left: auto;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
  }
  body #header #menu-toggle span {
    display: block;
    background: #ccc;
    border-radius: 2px;
    transition: 0.25s ease-in-out;
    box-sizing: border-box;
  }
  body #header #menu-toggle:hover {
    background: transparent;
  }
  body #header #menu-toggle #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
  }
  body #header #menu-toggle #hamburger span {
    width: 80%;
    height: 3px;
    position: relative;
    top: 10%;
    left: 10%;
    margin: 8px 0;
  }
  body #header #menu-toggle #hamburger span:nth-child(1) {
    transition-delay: 0.5s;
  }
  body #header #menu-toggle #hamburger span:nth-child(2) {
    transition-delay: 0.625s;
  }
  body #header #menu-toggle #hamburger span:nth-child(3) {
    transition-delay: 0.75s;
  }
  body #header #menu-toggle #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    transform: rotate(45deg);
  }
  body #header #menu-toggle #cross span:nth-child(1) {
    height: 0%;
    width: 3px;
    position: absolute;
    top: 10%;
    left: 46%;
    transition-delay: 0s;
  }
  body #header #menu-toggle #cross span:nth-child(2) {
    width: 0%;
    height: 3px;
    position: absolute;
    left: 10%;
    top: 48%;
    transition-delay: 0.25s;
  }
  body #header #menu-toggle[aria-expanded=true] #hamburger span {
    width: 0%;
  }
  body #header #menu-toggle[aria-expanded=true] #hamburger span span:nth-child(1) {
    transition-delay: 0s;
  }
  body #header #menu-toggle[aria-expanded=true] #hamburger span span:nth-child(2) {
    transition-delay: 0.125s;
  }
  body #header #menu-toggle[aria-expanded=true] #hamburger span span:nth-child(3) {
    transition-delay: 0.25s;
  }
  body #header #menu-toggle[aria-expanded=true] #cross span:nth-child(1) {
    height: 80%;
    transition-delay: 0.625s;
  }
  body #header #menu-toggle[aria-expanded=true] #cross span:nth-child(2) {
    width: 80%;
    transition-delay: 0.375s;
  }
}
@media (max-width: 399px) {
  body #adventures .single-adventure .adventure-img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 349px) {
  body #adventures .single-adventure .adventure-img {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 299px) {
  body #adventures .single-adventure .adventure-img {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 991px) {
  body .top-tours .tour .thumbnail img {
    height: 170px;
  }
}
@media (max-width: 767px) {
  body .top-tours .tour .thumbnail img {
    height: 160px;
  }
}
@media (max-width: 575px) {
  body .top-tours .tour .thumbnail img {
    height: 120px;
  }
}
@media (max-width: 991px) {
  body .gallery .grid .effect-overlay p {
    display: none;
  }
}
@media (max-width: 1199px) {
  body .celebrity-visits-info .famous-card .famous-info {
    padding: 15px;
    height: 55px;
  }
}
@media (max-width: 575px) {
  body .celebrity-visits-info .famous-card .famous-info {
    padding: 8px;
    height: 40px;
  }
}
@media (max-width: 405px) {
  body .celebrity-visits-info .famous-card .famous-info {
    height: 55px;
  }
}
@media (max-width: 360px) {
  body .celebrity-visits-info .famous-card .famous-info {
    height: 45px;
  }
}
@media (max-width: 1199px) {
  body .celebrity-visits-info .famous-card .famous-info .famous-name {
    font-size: 22px;
  }
}
@media (max-width: 405px) {
  body .celebrity-visits-info .famous-card .famous-info .famous-name {
    font-size: 19px;
  }
}
@media (max-width: 360px) {
  body .celebrity-visits-info .famous-card .famous-info .famous-name {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  body #footer .payment-channels ul {
    width: 100%;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  body #footer .payment-channels ul {
    width: 50%;
  }
}
@media (max-width: 991px) {
  body .page-title-header .page-title_wrapper .page-title {
    font-size: 32px;
  }
  body .page-title-header .page-title-category {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  body .media-container .media-items-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  body .media-container .media-items-wrapper .media-item:nth-child(1) {
    grid-column: span 4/span 4;
    grid-row: span 4/span 4;
  }
  body .media-container .media-items-wrapper .media-item:nth-child(1) img {
    height: 180px;
    border-radius: 1rem;
  }
  body .media-container .media-items-wrapper .media-item:nth-child(2), body .media-container .media-items-wrapper .media-item:nth-child(3), body .media-container .media-items-wrapper .media-item:nth-child(4), body .media-container .media-items-wrapper .media-item:nth-child(5) {
    display: none;
  }
}
@media (max-width: 767px) {
  body .product-promo .promo-prices {
    justify-content: center;
  }
  body .product-promo .promo-prices .activity-price {
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  body .product-promo .promo-label {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  body .product-promo .promo-prices-notification {
    text-align: center;
  }
}
@media (max-width: 1199px) {
  body .product-promo .promo-actions button {
    max-width: 100%;
    padding: 10px 24px;
  }
}
@media (max-width: 1199px) {
  body .product-promo .promo-actions button {
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  body .booking-assistant .SidebarWrapper .bookingItineraryCard {
    max-width: 405px;
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  body .booking-assistant .SidebarWrapper .bookingItineraryCard {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=responsive.css.map */
